*{
    margin:0;
    padding:0;
    font-size:12px;
    font-family: 微软雅黑;
}
@font-face{
    font-family:'fzltzh';
    src: url(font-family/fzltzh.TTF);
}
@font-face{
    font-family:'lthj';
    src: url(font-family/lthj.TTF);
}
.clear{
    clear:both;
}
i{
    font-style: normal;}
u,a{
    text-decoration: none;}
b{
    font-weight:normal;}
input,textarea,button{
    border:0;
    background: none;
    outline:0;}
.fl{
    float: left;}
.fr{
    float: right;}
.ov{
    overflow: hidden;}
.por{
    position: relative;}
.poa{
    position: absolute;}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0}
h1,h2,h3,h4,h5,h6 {font-size:100%}
address,cite,dfn,em,var {font-style:normal}
code,kbd,pre,samp {font-family:courier new,courier,monospace}
small {font-size:12px}
ol,ul {list-style:none}
a {text-decoration:none}
a:hover {text-decoration:underline}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
legend {color:#000}
fieldset,img {border:0}
button,input,select,textarea {font-size:100%}
table {border-collapse:collapse;border-spacing:0}
/*creat by henglong*/
.nav{
    width: 100%;
    height: 60px;
    background-color: #2b2b2b;
    position: fixed;
    top:0;
    z-index:4;
}
.nav ul{
    display:block;
    float:right;
    width:600px;
}
.nav li a:hover{
    text-decoration: none;
}
.nav li:hover{
    background-color: #007ae9;
}
.nav .current{
    background-color: #007ae9;
}
.nav li{
    display:inline-block;
    float:left;
}
/*.nav li:nth-of-type(1) {*/
    /*margin-right: 380px;*/
/*}*/
.nav li a{
    display:inline-block;
    padding-left:45px;
    padding-right:45px;
    line-height:60px;
    height: 60px;
    color: #fff;
    font-size:16px;
    text-align:center;
}
/*.nav li a:hover{*/
    /*background-color: #007ae9;*/
    /*text-decoration: none;*/
/*}*/
.contain{
    margin-top:50px;
    overflow:hidden;
}
.banner_fir,.banner_sec,.banner_thr{
    width: 100%;
    height: 718px;
    position: relative;
}
.banner_fir>img,.banner_sec>img,.banner_thr>img{
    position: absolute;
    top:0;
    left: 50%;
    margin-left:-960px;
    z-index:-1;
}
.banner_thr{
    height: 900px;
}
.text_p{
    width: 1200px;
    height: auto;
    margin:0 auto;
    padding-top:270px;
}
.text_p p{
    color:#fff;
}
.text_p p:nth-of-type(1){
    font-size:70px;
    margin-bottom:30px;
}
.text_p p:nth-of-type(2){
    font-size:36px;
    margin-bottom:38px;
}
.text_p p:nth-of-type(3){
    font-size:30px;
    font-family:"fzltzh";
}
.com_til{
   padding-top:105px;
}
.com_til p{
    color:#fff;
    text-align:center;
}
.com_til p:nth-of-type(1){
    font-size:38px;
}
.com_til p:nth-of-type(2){
    font-size:18px;
    margin-top:15px;
    font-family:"fzltzh";
}
.com_til .com_line{
    display:block;
    width: 80px;
    height: 3px;
    margin:12px auto 0;
}
.com_line span:nth-of-type(1){
    display:inline-block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    vertical-align:middle;
}
.com_line span:nth-of-type(2){
    display:inline-block;
    width: 20px;
    height: 1px;
    background-color: #fff;
    vertical-align:middle;
}
.com_intr{
    width: 1200px;
    margin:110px auto 0;
}
.com_ser_line{
    display:block;
    width: 35px;
    height: 2px;
    background-color: #317bdc;
    margin:15px auto 0;
}
.com_text{
    width: 560px;
    margin-left:56px;
    margin-top:15px;
}
.com_text p{
    font-size:22px;
    text-indent:2em;
    line-height:34px;
    color:#fff;
    font-family:"fzltzh";
}
.com_ser{
    width: 330px;
    height: 370px;
    background: #fff url(../images/service_fir.png) no-repeat top left;
    text-align:center;
    margin-left:105px;
    padding-top:260px;
    box-sizing:border-box;
    border-radius:15px;
}
.com_ser:nth-of-type(2){
    background: #fff url(../images/service_sec.png) no-repeat top left;
}
.com_ser:nth-of-type(3){
    background: #fff url(../images/service_thr.png) no-repeat top left;
}
.com_ser p:nth-of-type(1){
    font-size:30px;
}
.com_ser p:nth-of-type(2){
    font-size:16px;
    color:#bbbbbb;
    margin-top:10px;
    font-family:"fzltzh";
}
.com_ser:nth-of-type(1){
    margin-left:0;
}
.adva{
    width: 1200px;
    margin:0 auto;
    height: 765px;
    background-color: #fff;
}
.adva li{
    width:200px;
    height: auto;
    margin-left:133.33px;
    text-align:center;
}
.adva li:nth-of-type(1){
    margin-left:0;
}
.ad_p_fir{
    font-size:30px;
    margin-top:36px;
}
.ad_p_sec{
    font-size:18px;
    color:#bbbbbb;
    margin-top:12px;
    font-family:"fzltzh";
}
.ad_p_thr{
    font-size:16px;
    margin-top:20px;
    color:#808080;
}
.ad_p_thr:nth-of-type(2){
    margin-top:12px;
}
.adva_line{
    width: 35px;
    height: 2px;
    display:block;
    background-color: #307cdc;
    margin:20px auto 0;
}
.text_col p{
    color:#000;
}
.line_col span:nth-of-type(1),.line_col span:nth-of-type(2){
    background-color:#2b78e0;
}
.adva ul{
    margin-top:125px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #313131;
}
.footer>div{
    color:#6b6b6b;
    text-align:center;
}
.footer p{
    font-size:16px;
    color: #6b6b6b;
    text-align:center;
    line-height:30px;
}
.foot_a{
    display:inline-block;
    color:#6b6b6b;
    font-size:14px;
    margin:15px 20px;
}
.banner_fir ul{
    position: absolute;
    z-index:1;
    width: 200%;
}
.banner_fir ul li{
    width: 50%;
    height: 718px;
}
.banner_fir ul li:nth-of-type(1){
    background: url(../images/banner_fir.jpg) no-repeat center;
}
.banner_fir ul li:nth-of-type(2){
    background: url(../images/banner_fir2.jpg) no-repeat center;
}
.banner_fir ol li{
    width: 15px;
    height: 15px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #979694;
}
.banner_fir ol li:nth-of-type(1) {
    margin-right: 5px;
}
.banner_fir ol {
    width: 35px;
    position: absolute;
    z-index: 3;
    bottom: 26px;
    left: 50%;
    margin-left:-17px;
}
.banner_fir ol .current{
    background-color: #69b6fc;
}
.nav_two {
    width: 1210px;
    margin: 0 auto;
}
.nav_two img {
    float: left;
    margin-top:11px;
}